{% extends "base.html" %}

{% block content %}
<h2>Editar Demanda</h2>


<form method="POST" action="/editar/{{ demanda['id'] }}">
    <input type="text" name="titulo" value="{{ demanda['titulo'] }}" size="50">
    <textarea name="descricao" rows="5" cols="50">{{ demanda['descricao'] }}</textarea>
    <input type="text" name="solicitante" value="{{ demanda['solicitante'] }}">
    <input type="text" value="{{ demanda['data_criacao'] }}" disabled>
    
    <button type="submit">Atualizar</button>
    <a href="/"><button type="button">Cancelar</button></a>
</form>

{% endblock %}